<% if user_signed_in? %>
    
    <h1>Swot Tables</h1>
    
    <br>
    
    <% @swot_tables.each do |swot_table| %>
        <h2><%= link_to swot_table.title, swot_table, class: 'link-style' %></h2>
        <br>
    <% end %>
    
    <br>
    
<% else %>
    <%= render "shared/banner" %>
<% end %>